* {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body {
    margin: 1%;
    margin-left: 0%;
    background-color: rgb(36, 35, 35);
    color: wheat;
}

strong {
    color: rgb(57, 57, 255);
    font-size: bold;
}

.APIContent {
    text-align: center;
    border: 1px black solid;
}

.contentAUtiliser {
    background-color: rgba(13, 13, 173, 0.3);
    border: 2px black solid;
    justify-content: flex;
    padding: 10px;
    margin: 10px;
}

.container {
    border: 2px rgba(255, 255, 255, 0.700) solid;
    border-radius: 2px;
    margin: 1%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    width: 225px;
}

.bigcontainer {
    border: 2px rgba(255, 255, 255, 0.700) solid;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.flexcontainer, .flexcontainerFormation {
    border-radius: 5px;
    margin: 0;
    text-align: center;
    min-width: 570px;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 22px;
    height: 22px;
    opacity: 0.9;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(120, 20, 140, 0.4);
    opacity: 0.9;
    height: 50px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkslategrey;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px grey;
    opacity: 1;
}

.chart {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(120, 120, 255);
}

h1 {
    font-size: 36px;
}

h1,
h2,
h3,
p {
    color: wheat;
}

li.title {
    text-decoration: underline;
    font-size: 20px;
    list-style-type: none;
}

.title {
    color: rgb(255, 250, 250);
    text-align: center;
    margin: 1.5%;
}

.conteneur h3,
.conteneur h2 {
    text-decoration: underline;
}

nav {
    z-index: 2;
    width: 26%;
    min-width: 150px;
    max-width: 225px;
    text-align: left;
    background-color: rgba(50, 0, 150, 0.2);
    /*rgb(90, 90, 105);*/
    border-radius: 3px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    width: 100%;
    min-width: 150px;
    max-width: 225px;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgba(125, 125, 180, 0.9);
    position: absolute;
    z-index: 1000;
    transition: all .3s;
    transform: translate(-90%);
    /*left: -160px;*/
}

nav>ul li:hover .sous {
    transform: translateX(0);
}

.sous li {
    float: none;
    width: 100%;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.427) solid;
}

.sous a {
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(160, 160, 240, 0.3);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 24px;
}

.conteneur {
    margin: 20px 10px;
    padding: 8px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    line-height: 1.5;
}

.section {
    width: 45%;
    min-width: 595px;
    vertical-align: top;
    text-align: center;
    line-height: 1.75;
    border: rgb(120, 120, 255) 2px double;
    background-color: rgba(20, 20, 155, 0.2);
    border-radius: 50px;
    display: inline-block;
    margin: 4px;
    padding: 7px;
    padding-left: 15px;
}

.section li {
    text-align: left;
    list-style: inside;
    margin-left: 5px;
}

.section .sous-level li {
    list-style: decimal inside;
    margin-left: 25px;
    line-height: 1.5;
}

iframe {
    width: 80%;
    height: 425px;
}

table {
    border-collapse: collapse;
    margin-left: 10px;
}

td,
th
/* Mettre une bordure sur les td ET les th */

{
    border: 1px wheat solid;
    padding: 3px 11px;
}

.etude {
    color: gold;
}

@media only screen and (max-width:1350px) {
    .flexcontainerFormation{
        justify-content: start;
    }
    /* For tablets: */
    /*
    nav {
        width: 40%;
        font-size: 32px;
        color: wheat;
        font-weight: bold;
    }
    nav a {
        padding: 15px 4px;
    }
    */
}

.root {
    float: right;
    margin-right: 5px;
    background: linear-gradient(to right, rgba(111, 111, 243, 0.61), rgba(236, 133, 236, 0.733));
    font-size: 15px;
}